<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700">
    <link rel="stylesheet" type="text/css"  href="/plugins/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="/plugins/fonts.css">
    <link rel="stylesheet"  type="text/css"  href="/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <!-- Page Header--><a class="banner banner-top" href="" target="_blank"><img src="" alt="" height="0"/></a>
      <header class="section page-header" style="position: relative">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-absolute">
          <nav class="rd-navbar rd-navbar-thin" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-fixed" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-2" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></button>
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1, #rd-navbar-hidden-1"><span></span></button>
                  <!-- RD Navbar Brand-->
               
                    
                <a class="rd-navbar-brand" href="/"><img src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22"/></a>
                  <div class="rd-navbar-block" id="rd-navbar-hidden-1">
                    <div class="rd-navbar-collapse">
                      <ul class="list-inline-bordered rd-navbar-list">
                        <li><span class="icon mdi mdi-comment-text-outline"></span><a href="/contact">Contact us</a></li>
                        <li><span class="icon mdi mdi-cellphone-android"></span><a href="tel:#"> 7089999935,9148270108</a></li>
                      </ul>
                    </div>
                    <button class="rd-navbar-search-toggle" data-rd-navbar-toggle="#rd-navbar-search-1"><span></span></button>
                  </div>
                </div>
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search" id="rd-navbar-search-1">
                  <form class="rd-search" action="#" data-search-live="rd-search-results-live-1" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="rd-navbar-search-form-input-1">Search...</label>
                      <input class="form-input rd-navbar-search-form-input" id="rd-navbar-search-form-input-1" type="text" name="s" autocomplete="off">
                      <div class="rd-search-results-live" id="rd-search-results-live-1"></div>
                    </div>
                    <button class="rd-search-form-submit fa-search" type="submit"></button>
                  </form>
                </div>
                <%- include('../../nav_partials/nav') %>
              </div>
            </div>
          </nav>
        </div>
      </header>
 
      <section class="section section-halfscreen bg-image" style="background-image: url();">
        <div class="section-halfscreen-inner">
          <% for(var i=0; i < banner.length; i++ ) { %>
          <div class="section-halfscreen-image wow fadeIn" style="background-image: url('/images/upload_banner_images/<%= banner[i].image%>');"></div>
          <% } %>
          <div class="container">

            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="section-halfscreen-content">
                  <div class="wow-outer heading-3">
                    <h2 class="wow fadeInUp" data-wow-delay=".2s"><span class="font-weight-bold">Lashkson</span><br><span class="font-weight-bold sumbol text-primary">Your toolkit </span><span class="font-weight-light">for business ingenuity.</span></h2>
                  </div>
                  <div class="wow-outer p">
                    <p class="custom-article wow fadeInDown" data-wow-delay=".2s">Our company provides a variety of consulting and planning services that help small and medium busineses worldwide.</p>
                  </div><a class="button button-primary button-winona wow fadeIn" href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="tabs-horizontal"></div>
            
      <section class="section section-lg bg-gray-100">
        <div class="container">
       
          <div class="row row-30">
            <% for(var i=0; i < data.length; i++ ) { %>
            <div class="col-sm-6 col-lg-4 wow-outer">
          
              <article class="box-minimal">
                <div class="box-minimal-icon linearicons-pie-chart wow fadeIn"></div>
                <div class="box-minimal-main wow-outer">
              
                  <h4 class="box-minimal-title wow slideInDown"><%= data[i].title%></h4>
                  <p class="wow fadeInUpSmall"><%= data[i].description%></p>
              
                </div>
              </article>
            
         
            </div>
            <% } %>
          </div>
      
        </div>
      </section>
 
      <!-- Small Features-->
 
      
      <!-- Advantages and Achievements-->
      <section class="section section-lg text-center">
        <% for(var i=0; i < mission.length; i++ ) { %>
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInUp">We cover a broad spectrum of planning & architectural projects</span></h3>
          <p class="wow-outer"><span class="text-width-1 wow slideInDown">This selection of projects provides an insight into the diverse range of projects that have both challenged and excited us in equal measure. We are not bound by any one architectural style and seek pragmatic solutions that not only provide high quality designs.</span></p>
          <div class="row row-50">
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
        
              <article class="counter-minimal wow slideInDown">
                <div class="counter-minimal-icon linearicons-star"></div>
                <div class="counter-minimal-main">
                 
                  <div class="counter"><%=  mission[i].experience%></div>
              
                </div>
                <h5 class="counter-minimal-title">Years of Experience</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInDown">
                <div class="counter-minimal-icon linearicons-folder"></div>
                <div class="counter-minimal-main">
                  
                  <div class="counter"><%=  mission[i].work_facilities%></div>
                </div>
                <h5 class="counter-minimal-title">Work Facilities</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInDown">
                <div class="counter-minimal-icon linearicons-flag"></div>
                <div class="counter-minimal-main">
                  <div class="counter"><%=  mission[i].engineers%></div>
                </div>
                <h5 class="counter-minimal-title">Qualified Engineers</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInDown">
                <div class="counter-minimal-icon linearicons-lamp"></div>
                <div class="counter-minimal-main">
                  <div class="counter"><%=  mission[i].projects%></div>
                 
                </div>
                <h5 class="counter-minimal-title">Completed Projects</h5>
              </article>
         
             
            </div>
          </div>
          <% } %>
          
        </div>
      </section>
      <!-- CTA Thin-->
      <section class="section section-xs bg-primary-darken text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-10 col-md-12">
              <div class="box-cta-thin">
                <h4 class="title wow-outer"><span class="wow slideInRight">Helping Business Owners Worldwide</span></h4>
                <div class="wow-outer button-outer"><a class="button button-white-outline button-winona wow slideInLeft" href="/contact">Get in Touch</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services-->
      <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInUp">Our Services</span></h3>
          <div class="row row-30">
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown">
                <div class="box-creative-icon linearicons-power"></div>
                <h4 class="box-creative-title"><a href="#">Construction</a></h4>
                <p>Mechanical Construction, Erection & chemical Painting. </p>
              </article>
            </div> 
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".05s">
                <div class="box-creative-icon linearicons-binoculars"></div>
                <h4 class="box-creative-title"><a href="#">Fabrication</a></h4>
                <p> Fabrication of S.S. Tanks & M.S. Tank. </p>
              </article>
            </div>
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".1s">
                <div class="box-creative-icon linearicons-bubble-text"></div>
                <h4 class="box-creative-title"><a href="#"></a>Equipment</h4>
                <p>• S.S and M.S. Static and Rotary Equipment Erection. </p>
              </article>
            </div>
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown">
                <div class="box-creative-icon linearicons-power"></div>
                <h4 class="box-creative-title"><a href="#">Erection</a></h4>
                <p>All type of pumps, motor, gear Box Erection and fitting.  </p>
              </article>
            </div> <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown">
                <div class="box-creative-icon linearicons-power"></div>
                <h4 class="box-creative-title"><a href="#">Pipelines Fabrication</a></h4>
                <p> All types of Pipelines Fabrication and Erection.  </p>
              </article>
            </div>
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown">
                <div class="box-creative-icon linearicons-power"></div>
                <h4 class="box-creative-title"><a href="#">Chemical Plant</a></h4>
                <p> Maintenance of all chemical Plant e.g. pumps, motor, gear
                  Box, valves, static and rotary equipment.  </p>
              </article>
            </div>
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown">
                <div class="box-creative-icon linearicons-power"></div>
                <h4 class="box-creative-title"><a href="#">Teflon work</a></h4>
                <p> All type of PPRC, PPFRP, HDPE and Teflon work.</p>
              </article>
            </div>
            <div class="col-sm-3 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown">
                <div class="box-creative-icon linearicons-power"></div>

                <h4 class="box-creative-title"><a href="#">Manpower Services </a></h4>
                <p>Manpower Services (Skilled & Unskilled)</p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Recent Projects-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInDown">Recent Projects</span></h3>
          <div class="row row-30">

            <% for(var i=0; i < recent_projects.length; i++ ) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Post Tiny-->
            
              <article class="post-tiny wow fadeSlideInDown"><a class="post-tiny-media" href="#"><img src='/images/upload_recent_project_images/<%=recent_projects[i].image%>' alt="" width="270" height="184"/></a>
                <h5 class="post-tiny-title"><a href="#"><%- recent_projects[i].title %></a></h5>
                <!-- <time class="post-tiny-time" datetime="2017">2 days ago</time> -->
              </article>
           
            </div>
              <% } %>
   
          </div>
          <div class="wow-outer button-outer offset-top-2"><a class="button button-dark-outline button-winona wow slideInUp" href="/projects">View all projects</a></div>
        </div>
      </section>
      <!-- A Few Words About Us-->
      <section class="section bg-gray-100">
        <div class="range justify-content-xl-between">
          <div class="cell-lg-6 cell-xl-5 align-self-center container">
            <div class="row">
              <div class="col-md-10 cell-inner">
                <div class="section-lg inset-right-2">
                  <h3 class="wow-outer"><span class="wow slideInDown">OUR SKILL AND EXPERTISE
                  </span></h3>
                  <!-- <h4 class="wow fadeIn">Expertise, discipline and precision</h1> -->
                  <p class="wow fadeIn">We are Colony / Road Developers, Warehouse Developer, General Contractor and Construction Management company with a portfolio of projects across all over India.

                  </p>
                  <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear wow slideInDown" data-wow-delay=".05s">
                            <div class="progress-header">
                            <p>Architecture</p><span class="progress-value">92</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear"></div>
                            </div>
                          </article>
                  </div>
                  <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear progress-linear-color-1 wow slideInDown" data-wow-delay="0.10s">
                            <div class="progress-header">
                              <p>Building</p><span class="progress-value">95</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear"></div>
                            </div>
                          </article>
                  </div>
                  <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear progress-linear-color-2 wow slideInDown" data-wow-delay=".15s">
                            <div class="progress-header">
                              <p>Construction</p><span class="progress-value">96</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear"></div>
                            </div>
                          </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-lg-6 height-fill">
            <div class="figure-card">
              <div class="figure-card-sizer"></div><img src="/images/pexels-pixabay-259984.jpg" alt="" width="960" height="762"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Partners-->

      <!-- Page Footer--><a class="banner" href="" target="_blank"><img src="" alt="" height="0"/></a>
      <footer class="section footer-minimal bg-primary-darken">
        <div class="container"> 
          <div class="footer-minimal-inner"><a class="brand" href="/main"><img src="/images/2.png" alt="" width="199" height="22"/></a>
            <!-- Rights-->
           
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. LASHKSON </p>
          </div>
     
        </div>
      </footer>

      
    </div>
    <div class="preloader"> 

      <div class="preloader-logo">
        <img src="/images/LASHKSON LOGO PNG (1).png" alt="" width="199" height="22"
       
      </div>
      <!-- <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        
        </div>
      </div> -->
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    <!-- <a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" class="fa fa-whatsapp active">Send Message</a> -->
    <!--coded by Starlight-->
    <a href="//web.whatsapp.com/send?phone=7089999935&text&app_absent=0" target="_blank" class="ui-to-top fa fa-whatsapp active"></a>
    <!-- <a href="//web.whatsapp.com/send?phone=9148270108&text&app_absent=0" class="ui-to-top fa fa-whatsapp active"></a> -->

  </body>
  
</html>