<%- include('../../partials/header') %>


  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <!-- <h1>Employees </h1> -->
          </div>
          <div class="col-md-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Projects</a></li>
              <!-- <li class="breadcrumb-item active">Employees</li> -->
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/painting_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Painting Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_painting_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(painting.length> 0){ %>
                            <% for(var i=0; i < painting.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_painting_images/<%= painting[i].image %>"
                                    alt="Product 1" class="img">
      
                                </td>
                                <td>
                                  <%= painting[i].title %>
                                </td>
                                <td>
                                  <%= painting[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/painting/<%=painting[i].id%>"
                                    class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/fabrication_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Fabrication Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_fabrication_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(fabrication.length> 0){ %>
                            <% for(var i=0; i < fabrication.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_fabrication_images/<%= fabrication[i].image %>"
                                    alt="Product 1" class="img">
      
                                </td>
                                <td>
                                  <%= fabrication[i].title %>
                                </td>
                                <td>
                                  <%= fabrication[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/fabrication/<%=fabrication[i].id%>"
                                    class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/demolition_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Demolition Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_demolition_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(demolition.length> 0){ %>
                            <% for(var i=0; i < demolition.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_demolition_images/<%= demolition[i].image %>"
                                    alt="Product 1" class="img">
      
                                </td>
                                <td>
                                  <%= demolition[i].title %>
                                </td>
                                <td>
                                  <%= demolition[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/demolition/<%=demolition[i].id%>"
                                    class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/erection_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Erection Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_erection_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(erection.length> 0){ %>
                            <% for(var i=0; i < erection.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_erection_images/<%= erection[i].image %>"
                                    alt="Product 1" class="img">
      
                                </td>
                                <td>
                                  <%= erection[i].title %>
                                </td>
                                <td>
                                  <%= erection[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/erection/<%=erection[i].id%>" class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/coating_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Coating Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_coating_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(coating.length> 0){ %>
                            <% for(var i=0; i < coating.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_coating_images/<%= coating[i].image %>" alt="Product 1"
                                    class="img">
      
                                </td>
                                <td>
                                  <%= coating[i].title %>
                                </td>
                                <td>
                                  <%= coating[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/coating/<%=coating[i].id%>" class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/insulation_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Insulation Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_insulation_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(insulation.length> 0){ %>
                            <% for(var i=0; i < insulation.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_insulation_images/<%= insulation[i].image %>"
                                    alt="Product 1" class="img">
      
                                </td>
                                <td>
                                  <%= insulation[i].title %>
                                </td>
                                <td>
                                  <%= insulation[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/insulation/<%=insulation[i].id%>" class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/frp_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create FRP Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_frp_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(frp.length> 0){ %>
                            <% for(var i=0; i < frp.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_frp_images/<%= frp[i].image %>" alt="Product 1"
                                    class="img">
      
                                </td>
                                <td>
                                  <%= frp[i].title %>
                                </td>
                                <td>
                                  <%= frp[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/frp/<%=frp[i].id%>" class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-horizontal" role="form" action="/manpower_project" enctype="multipart/form-data"
              method="post">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Create Manpower Project</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="signupalert" class="alert alert-danger" style="display: none;">Error:</div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="exampleInputFile">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile"
                              name="upload_manpower_image">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="description" type="text" placeholder="Description">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button id="btn-signup" class="btn btn-info" type="submit"><i class="icon-hand-right"></i>
                      &nbsp;Submit</button>
                  </div>
                  <div class="row">
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>project</th>
                            <th>title</th>
                            <th>description</th>

                          </tr>
                        </thead>
                        <tbody>
                          <% if(manpower.length> 0){ %>
                            <% for(var i=0; i < manpower.length; i++ ) { %>
                              <tr>
                                <td>
                                  <%=i+1%>
                                </td>
                                <td>
                                  <img width="100" src="/images/upload_manpower_images/<%= manpower[i].image %>"
                                    alt="Product 1" class="img">
      
                                </td>
                                <td>
                                  <%= manpower[i].title %>
                                </td>
                                <td>
                                  <%= manpower[i].description %>
                                </td>
                                <td>
                                  <a href="/delete/manpower/<%=manpower[i].id%>" class="btn btn-primary btn sm">Delete</a>
                                </td>
                              </tr>
                              <% } %>
                                <% }else{ %>
                                  <tr>
                                    <td class="col-md-offset-3">No data found</td>
                                  </tr>
                                  <% } %>
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>

    <%- include('../../partials/footer') %>